# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Environment folders
.env/
.venv/
env/
venv/


# VS Code settings
.vscode/

# Streamlit secrets
.streamlit/secrets.toml

# OS-specific files
.DS_Store
Thumbs.db

# FAISS vector store files
vectorstore/
vectorstore/index.faiss
vectorstore/index.pkl




